{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
{# set by usagov_wizard_preprocess_breadcrumb() #}
{% if wizard_breadcrumb %}
  {% set breadcrumb = wizard_breadcrumb %}
{% endif %}

{% if breadcrumb %}

<nav class="margin-top-neg-3
        mobile-lg:margin-top-2
        tablet:margin-top-neg-3
        desktop:margin-top-0
        margin-bottom-2"
    aria-label="Breadcrumb">

    <ol class="usa-breadcrumb__list" itemscope itemtype="http://schema.org/BreadcrumbList">
        {% for item in breadcrumb %}
            <li class="usa-breadcrumb__list-item {{ item.url ? '' : 'usa-breadcrumb__currrent' }}"
                itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem"
            >{% if item.url %}
                <a href="{{ item.url }}" class="usa-breadcrumb__link" itemprop="item">
                    <span itemprop="name">{{ item.text }}</span>
                </a>
                {% else %}
                <span itemprop="name">{{ item.text }}</span>
                {% endif %}
                <meta itemprop="position" content="{{loop.index}}" />
            </li>
        {% endfor %}
    </ol>
</nav>

{% endif %}
