{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}

{% set lang = node.langcode.value %}

{% if attributes -%}
	<div{{attributes}}>
{% endif %}

<form id="stateForm" class="usa-form state-usa-form" action="javascript:void(0);" autocomplete="off">
  <h2 id="state-info-label" class="usa-label">{{ lang == 'en' ? 'Select or type your state or territory:' : 'Elija o escriba el estado o territorio:' }}</h2>
	<div class="grid-row" id="submitAfter">
		<div class="grid-col-fill mobile-lg:grid-col-auto" id="comboBoxAfter">
			<div id="comboBoxDiv" class="usa-combo-box usa-combo-box--pristine width-full mobile-lg:width-mobile" data-default-value="alabama" data-enhanced="true"  data-filter="{{ '{{' }}query}}.*|.*\s{{ '{{' }}query}}.*|.*\({{ '{{' }}query}}.*">
				<ul id="statelist" class="one-column-bullet">
					{% for row in rows %}
						{{- row.content -}}
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</form>

<!-- While it is unconventional to include JavaScript this way, we are doing this in order to force this script to execute immediately -->
<!-- See ticket USAGOV-1419 -->
<script src ="/site/usagov/chatbot-mvp/themes/custom/usagov/scripts/stateDirectory.js"></script>

{% if attributes -%}
	</div>
{% endif %}
