{% extends "html.html.twig" %}

{% block header_html %}
  {% if not start_page %}
    <meta name="robots" content="noindex" />
  {% endif %}
    <link rel="preconnect" href="https://script.crazyegg.com" crossorigin>
    <link rel="preconnect" href="https://www.googletagmanager.com" crossorigin>
    <head-placeholder token="{{ placeholder_token|raw }}">
      <title>{{ wizard_head_title ~ ' | USAGov' }}</title>
      <css-placeholder token="{{ placeholder_token|raw }}">
        <js-placeholder token="{{ placeholder_token|raw }}">
  {# tracking scripts, set in the field. #}
  {% if header_html %}
    {{ header_html|raw }}
  {% endif %}
{% endblock %}
